/* -- Variables -- */
:root {
    --kapturall-red: #B82E24;
    --kapturall-red-hover: #A62920;
    --kapturall-orange: #F58233;
    --kapturall-orange-hover: #DD752E;
    --kapturall-gray: #323239;
    --kapturall-lightgray: #F2F3F4;
}

/* -- General Settings -- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    max-width: 100%;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}

button {
    border: none;
    overflow: visible;
    text-transform: none;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input {
    line-height: normal;
}